name: "CI"
on: [push, pull_request]
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v1

      # https://github.com/marketplace/actions/setup-bats-testing-framework
      # xxxx https://github.com/mig4/setup-bats/issues/5
      # - name: Setup BATS
      #   uses: mig4/setup-bats@master
      #   with:
      #     bats-version: 1.1.0

      - name: Setting up BATS
        run: sudo npm install -g bats

      - name: Test
        run: cd test && bats -t test.bats
